{%- extends "skeleton.html" -%}

{%- from "macros.html" import render_nav_item -%}

{%- block head %}<title>
    {% block title %}{{ config.TITLE }}{% endblock title %}
</title>
{#- empty favicon -#}
<link rel="icon" href="data:,">
<meta charset="utf-8">
{% block head_last %}
{# data injection for javascript #}{% if config.JAVASCRIPT_INJECTION %}<script>{% for key, value in config.JAVASCRIPT_INJECTION.items() %}
{{ key }} = {{ value|tojson }};
{% endfor %}</script>{% endif %}
{% endblock head_last %}
{% assets filters="cssmin", output="gen/base.css", "flatpickr.min.css", "site.css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
{% assets filters="jsmin", output="gen/base.js", "flatpickr.min.js", "site.js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{%- endblock head -%}

{%- block body -%}
    {% block topnav %}<nav class="noprint">
        {% for endpoint, text in config.TOPNAVDEV %}
            {{ render_nav_item(endpoint, text) }}
        {% endfor %}
        {% for endpoint, text in config.TOPNAV %}
            {{ render_nav_item(endpoint, text) }}
        {% endfor %}
        <div>
            <label for=theme-1>Dark Theme</label>
            <input class=theme-toggler id=theme-1 type=checkbox>
        </div>
    {% endblock topnav %}</nav>
    <aside class="flash noprint">{% block flashed -%}
        {% with messages = get_flashed_messages(with_categories=true) %}{% if messages -%}
        <ul class="flat flashes">{% for category, message in messages %}
            <li class="flash {{ category or 'info'  }}">
                <div class="message">{{ message | safe }}</div>
                <div class="close click" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">&times</div>
            </li>
        {% endfor %}</ul>{% endif -%}
        {% endwith -%}
    {% endblock flashed %}</aside>
    <main>{% block main %}
        {% block content %}{% endblock %}
    {% endblock %}</main>
    {% block body_last %}{% endblock body_last %}
{% endblock body %}
