

{% macro diff_class(diff) %}{% if diff is not none %}{% if diff < config.EARLY_LT %} early{% elif diff > config.LATE_GT %} late{% else %} ontime{% endif %}{% endif %}{% endmacro %}


{% macro nbsp(s) %}{% if s %}{{ s.replace(' ', '&nbsp;') | safe }}{% endif %}{% endmacro %}


{% macro percent(v) %}
{% if v is number %}
    {% if v == 1 %}100%{% else %}{{ '%.2f%%' | format(v*100) }}{% endif %}
{% elif kwargs.or_zero %}0
{% endif %}{% endmacro %}


{% macro render_back_link() %}
<h4><a href="{{ request.args.backurl }}">Back</a></h4>
{% endmacro %}


{% macro render_date(value) %}
{% set is_bare = kwargs.get('bare') %}
{% if value %}
{% if not is_bare %}<span class="date-wrap" title="{{ value }}">{% endif %}
{{ value.strftime(config.DATEFMT) }}
{% if not is_bare %}</span>{% endif %}
{% endif %}
{% endmacro %}


{% macro render_delay(delay) %}
{# render individual delay code object #}
{# similar: parse.py:formatdelays #}
{# NOTE: the check for cancelled and != XLD, is to avoid outputting XLD XLD. #}

{# NOTE: unobserved a .cancelled delay with .minutes is integer #}
{# NOTE: the only observed XLD is Delay(code='XLD', minutes=None, cancelled=True) #}
<span class="delay-code">
    <span class="delay-code{% if delay.is_cancelled %} cancelled{% endif %}">{{ delay.formatted }}</span>
</span>
{% endmacro %}


{% macro render_delays(delays) %}
{# render list of delay code objects #}
{# NOTE: delay.minutes can be None #}
{# NOTE: the only type of XLD observed: {Delay(code='XLD', minutes=None, cancelled=True)} #}
{# NOTE: can't do a filter here because of complicated rules for showing #}
{% set debug = kwargs.get('debug', config.TEMPLATE_DEBUG_DELAY_CODES) %}
<ol class="delay-codes">{% for delay in delays %}
    <li>
        {{ render_delay(delay, **kwargs) }}
    </li>
{% endfor %}</ol>
{% endmacro %}


{# text inside labels and headers indicating the estimated/actual difference minutes #}
{% macro render_diff_minutes_text() %}(+/-){% endmacro %}


{% macro render_field(field) %}
{# side-by-side render field and label #}
{% set first = field.label %}
{% set second = field %}
{% if field.type == 'FormField' %}
    {{ render_form(field) }}
{% else %}
    {% if field.type == 'BooleanField' %}
        {# reverse for checkboxes #}
        {% set first, second = second, first %}
    {% endif %}
    <div class="item first">{{ first }}</div>
    <div class="item second">
        {{ second }}
        {% if field.errors %}{{ render_field_errors(field.errors) }}{% endif %}
    </div>
{% endif %}
{% endmacro %}


{% macro render_field_errors(errors) %}
<ul class="flat">{% for error in errors %}
    <li class="field-error">{{ error }}</li>
{% endfor %}</ul>
{% endmacro %}


{% macro render_form(form) %}
{{ render_form_fields_part(form) }}
{{ render_form_buttons(form, **kwargs) }}
{% endmacro %}{# render_form #}


{% macro render_form_buttons(form) %}
{% if not kwargs.get('_is_form_field') %}
<div class="buttons-2">
{% set buttons = form|selectattr('type', 'in', ('SubmitField',)) %}
{% for button_field in buttons %}
    {{ button_field }}
{% endfor %}</div>
{% endif %}
{% endmacro %}


{# FieldList #}
{% macro render_form_fieldlist_parts(form) %}
{# expand FieldList and render #}
<div class="fields col-2">{% for field_list in form|selectattr('type', 'in', ('FieldList',)) %}
    {% for field in field_list %}
        {{ render_field(field) }}
    {% endfor %}
{% endfor %}</div>
{% endmacro %}


{% macro render_form_fields_part(form) %}
{{ render_form_hidden_parts(form) }}
{{ render_form_simple_parts(form) }}
{{ render_form_fieldlist_parts(form) }}
{{ render_form_formfields_part(form) }}
{% endmacro %}


{# FormField #}
{% macro render_form_formfields_part(form) %}
{# render fields that are forms #}
{% for form_field in form|selectattr('type', 'in', ('FormField',)) %}
    <p>{{ form_field.label }}</p>
    {{ render_form(form_field, _is_form_field=true) }}
{% endfor %}
{% endmacro %}


{# Hidden #}
{% macro render_form_hidden_parts(form) %}
{% if form.hidden_tag %}{{ form.hidden_tag() }}{% endif %}
{# display errors for hidden fields #}
{% for field_name, errors in form.errors.items() %}
    {% set field = form[field_name] %}
    {% if field.type in ('HiddenField', 'HiddenIntegerField') %}
    <p>{{ field.label }}</p>
    {{ render_field_errors(errors) }}
    {% endif %}
{% endfor %}
{% endmacro %}


{# Simple Fields #}
{% macro render_form_simple_parts(form) %}
{# render simple field and label pairs #}
{% set unwanted = ('CSRFTokenField', 'HiddenField', 'HiddenIntegerField', 'FieldList', 'FormField', 'SubmitField') %}
<div class="fields col-2">{% for field in form|rejectattr('type', 'in', unwanted) %}
    {{ render_field(field) }}
{% endfor %}</div>
{% endmacro %}


{% macro render_javascript_injection(d) %}<script>{% for key, value in d.items() %}
    let {{ key }} = {{ value|tojson }};{% endfor %}
</script>{% endmacro %}


{% macro render_nav_item(endpoint, text) %}{# site top nav #}<a class="nav{% if 'active_prefix' in kwargs and request.endpoint and request.endpoint.startswith(kwargs.active_prefix or '') %} active{% endif %}" href="{{ url_for(endpoint) }}" title="{{ request.endpoint }}">{{ text }}</a>{% endmacro %}


{% macro render_number(value) %}{% if value is number %}{{ value }}{% endif %}{% endmacro %}


{% macro render_pagination(pagination, endpoint) %}
{% if pagination.pages > 1 %}<ol class="pagination rowwise centered">
    {% for page in pagination.iter_pages() %}
        <li>
            {% if page %}
                {% if page != pagination.page %}
                    <a class="pill paginate" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                {% else %}
                    <strong class="pill paginate active">{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class="ellipsis pill paginate">…</span>
            {% endif %}
        </li>
{% endfor %}
</ol>{% endif %}{# pagination.pages > 1 #}
{% endmacro %}


{% macro render_integer(v) %}{% if v is number %}{{ '{:,d}'.format(v) }}{% elif kwargs.get('or_zero') %}0{% endif %}{% endmacro %}


{% macro string(v) %}{% if v %}{{ v }}{% endif %}{% endmacro %}


{% macro time(t) %}{% if t %}{{ t.strftime(config.TIMEFMT) }}{% endif %}{% endmacro %}


{% macro yes(bool) %}{% if bool %}{% if kwargs.get('abbr') %}Y{% else %}Yes{% endif %}{% endif %}{% endmacro %}


{% macro yesno(bool) %}{% if bool %}Yes{% else %}No{% endif %}{% endmacro %}


