{% extends 'pluggable/form.html' %}


{% from "macros.html" import render_field_errors %}


{% macro render_input_group(field) %}
{{ field.label }}{{ field }}{% if field.errors %}{{ render_field_errors(field.errors) }}{% endif %}
{% endmacro %}


{% block head %}
{{ super() }}
{% if request.endpoint.endswith('.edit') %}
    <script>
    {#
    duplicated from flight-edit.js
    needed to confirm delete and it's not easy to reuse flight-edit.js
    #}
    document.addEventListener("DOMContentLoaded", function() {
        const deleteButton = document.getElementById("delete");
        if (!deleteButton) {
            alert("Clicking delete will not prompt first!");
        }
        deleteButton.addEventListener("click", function(event) {
            if (!confirm("Delete this scheduled flight?")) {
                event.preventDefault();
            }
        });
    });
    </script>
{% endif %}
{% endblock head %}


{% block header %}
<h1>Flight for Scheduled Report</h1>
{{ super() }}
{% endblock header %}


{% block inside_form %}
    {{ form.hidden_tag() }}
    <div class="scheduled-flight-form">
        {{ render_input_group(form.flight_type) }}
        {{ render_input_group(form.flight_number) }}
        {{ render_input_group(form.origin_station) }}
        {{ render_input_group(form.origin_departure_estimated_time) }}
        {{ render_input_group(form.destination_station) }}
        {{ render_input_group(form.destination_arrival_estimated_time) }}
    </div>
    <div class="scheduled-flight-form buttons">
        {% if form.submit %}{{ form.submit }}{% endif %}
        {% if form.delete %}{{ form.delete }}{% endif %}
    </div>
{% endblock inside_form %}
