{% extends "base.html" %}


{% from "macros.html" import render_integer %}


{% set year = request.view_args.year %}
{% set thisurl = url_for(request.endpoint, **request.view_args) %}


{% block header %}
<nav class="title" id="monthly-nav">
    <h4 class="select-month"><a href="{{ url_for('select_date.monthly', year=year-1) }}">{{ year - 1 }}</a></h4>
    <h3 class="select-month">{{ year }}</h3>
    <h4 class="select-month"><a href="{{ url_for('select_date.monthly', year=year+1) }}">{{ year + 1 }}</a></h4>
</nav>
{% endblock header %}


{% block content %}
    <p>{{ AssumedBest.__notes__['description_for_select'] }}</p>
    <div class="flat months">{% for month in range(1, 13) %}
        {% set best = existing_months.get(month) %}
        {% set url = url_for('assumed_best.for_', year=year, month=month, backurl=thisurl) %}
        <a class="card month-name" href="{{ url }}">{% if best %}&starf; {% endif %}{{ calendarlib.month_name[month] }}{% if best %} {{ render_integer(best.lanes) }}{% endif %}</a>
    {% endfor %}</div>
{% endblock content %}


{% block footer %}
<h4>&starf; Assumed best exists</h4>
{% endblock footer %}
