{%- extends "base.html" -%}

{% block content %}
<div>
    <nav>
        <h4>
            <a href="{{ url_for('select_date.index', year=month.previous.year, month=month.previous.month) }}">{{ month.previous.abbr }}.{% if month.previous.year != year %}&nbsp;{{ month.previous.year }}{% endif %}</a>
        </h4>
        <h3>{{ month.name }}&nbsp;{{ month.year }}</h3>
        <h4>
            <a href="{{ url_for('select_date.index', year=month.next.year, month=month.next.month) }}">{{ month.next.abbr }}.{% if month.next.year != year %}&nbsp;{{ month.next.year }}{% endif %}</a>
        </h4>
    </nav>
    <div class=calendar>
        {% for wd in month.weekdays %}<div class="wd">{{ wd.abbr }}</div>{% endfor %}{# loop days #}{% for day in month.days %}{% if day.number %}<a class="day{% if day.date == today %} today{% endif %}" href="{% if day.report %}{{ url_for('report.view_report', id=day.report.id) }}{% else %}{{ url_for('report.prompt_new', report_date=day.date) }}{% endif %}">{% if day.report %}&starf; {% endif %}{{ day.number }}</a>{% else %}<div class="day">{# day outside this month #}</div>{% endif %}{% endfor %}
    </div>
    <h4>&starf; Report exists</h4>
    {% if (month.year, month.month) != (today.year, today.month) %}<h4><a href="{{ url_for('select_date.goto_today') }}">Go to current calendar</a></h4>{% endif %}
</div>{% endblock content %}
