{% extends "base.html" %}

{% block content %}<main>
    <article>
        <h1>Recently</h1>
        <ul>
            <li>Added scheduled report/flights.</li>
            <li>Import scheduled reports/flights from MDB.</li>
        </ul>
        <h1>TODO</h1>
        <p>Development notes about the current state of the app.</p>
        <ul>
            <li>Edit scheduled reports/flights.</li>
            <li>Calendar styling for "today" and "has-report".</li>
            <li>Flight edit form styling.</li>
            <li>System detail should show same size when empty.</li>
            <li>scheduled reports edit endpoints</li>
            <li>scheduled reports add, delete</li>
        </ul>
    </article>
</main>{% endblock content %}
