{% from "macros.html" import percent %}
{% from "macros.html" import render_number %}


{% macro render_performance_tiers_table(tiers) %}
{# renders inside of table, the other table renderers should be changed too #}
{% set instance_endpoint = kwargs.get('instance_endpoint') %}
{% set numbered = kwargs.get('numbered') %}
{% set new_tier_endpoint = kwargs.get('new_tier_endpoint') %}
{% set new_tier_args = kwargs.get('new_tier_args', dict()) %}
{% set colspan = 3 if not numbered else 4 %}
<thead>
    <tr>
        {% if numbered %}<th></th>{% endif %}
        <th rowspan="2">Tier</th>
        <th colspan="2">Performance Range</th>
    </tr>
    <tr>
        <th>Start</th>
        <th>End</th>
    </tr>
</thead>
<tbody>{% if not tiers %}
    <tr>
        <td colspan="{{ colspan }}">No performance tiers</td>
    </tr>{% else %}{% for tier in tiers %}
    <tr{% if instance_endpoint %} data-href="{{ url_for(instance_endpoint, id=tier.id) }}"{% endif %}>
        {% if numbered %}<td class="data number">{{ loop.index }}</td>{% endif %}
        <td class="data">{{ tier.tier }}</td>
        <td class="data number">{{ render_number(tier.performance_range_start) }}</td>
        <td class="data number">{{ render_number(tier.performance_range_end) }}</td>
    </tr>{% endfor %}
{% endif %}</tbody>
{% if new_tier_endpoint %}<tfoot>
    <tr>
        <td colspan="{{ colspan }}">
            <h4><a href="{{ url_for(new_tier_endpoint, **new_tier_args) }}">New tier</a></h4>
        </td>
    </tr>
</tfoot>{% endif %}
{% endmacro %}
