alembic
cssmin
flask
flask-assets
flask-login
flask-sqlalchemy
flask-wtf
humanize
jsmin
marshmallow-sqlalchemy
openpyxl
oracledb
passlib
psycopg
pytest
pywin32; sys_platform == 'win32'
sqlalchemy
sqlalchemy-utils
typing-extensions
wtforms
wtforms-components
wtforms-sqlalchemy
