alembic
cssmin
flask
flask-assets
flask-htmlmin
flask-login
flask-sqlalchemy
flask-wtf
humanize
jsmin
marshmallow-sqlalchemy
openpyxl
oracledb
passlib
psycopg
pytest
pywin32; sys_platform == 'win32'
sqlalchemy
sqlalchemy-utils
wtforms
wtforms-alchemy # remove this, it is dead
wtforms-sqlalchemy
