{% extends "pluggable/form.html" %}


{% from "macros.html" import render_arrival_performance_contract_tier_table %}
{% from "macros.html" import render_back_link %}
{% from "macros.html" import render_form %}
{% from "macros.html" import render_number %}


{% set contract = instance %}


{% block content %}
{# overwrite content block #}
<article>
    {% if page_title %}<h1>{{ page_title }}</h1>{% endif %}
    <h1>Edit Contract</h1>
    <h3>{{ contract.name }}</h3>
    <form action="{{ url_for(request.endpoint, **request.view_args) }}" method="POST">
        {% block inside_form %}{{ render_form(form) }}{% endblock %}
    </form>
    <hr>
    {% if contract.tiers %}
    <div id="tiers">
        <h3>Performance Tiers for {{ contract.name }}</h3>
        <p>Click row to edit</p>
        <table class="full-width">
            <thead>
                <tr>
                    <th rowspan="2">Order ▲</th>
                    <th rowspan="2">Tier</th>
                    <th colspan="2">Performance Range</th>
                </tr>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>{% for tier in contract.tiers %}
                <tr data-href="{{ url_for('admin.edit_tier', id=tier.id, backurl=url_for(request.endpoint, **request.view_args)) }}">
                    <td class="data number">{{ render_number(tier.order) }}</td>
                    <td class="data number">{{ render_number(tier.tier) }}</td>
                    <td class="data number">{{ render_number(tier.performance_range_start) }}</td>
                    <td class="data number">{{ render_number(tier.performance_range_end) }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <h3>Add new Performance Tier</h3>
    <form action="{{ url_for('admin.contract_add_tier', contract_id=contract.id) }}" method="POST">
        {{ render_form(new_tier_form) }}
    </form>
    {% if contract.tiers %}
    <h1>Performance Table Preview</h1>
    {{ render_arrival_performance_contract_tier_table(contract) }}
    {% endif %}
</article>
{% endblock content %}
