{% from "macros.html" import render_date %}
{% from "macros.html" import render_number %}


{% macro render_performance_contracts_table(performance_contracts) %}
{# render iterable of performance contracts as table #}
{% set instance_endpoint = kwargs.get('instance_endpoint') %}
{% set numbered = kwargs.get('numbered') %}
{% set colspan = 4 if not numbered else 5 %}
<table class="full-width">
    <thead>
        <tr>
            {% if numbered %}<th></th>{% endif %}
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th># Tiers</th>
        </tr>
    </thead>
    <tbody>{% if not performance_contracts %}<tr>
            <td colspan="{{ colspan }}">No performance contracts</td>
        </tr>{% else %}{% for performance_contract in performance_contracts %}
        <tr{% if instance_endpoint %} data-href="{{ url_for(instance_endpoint, id=performance_contract.id) }}{% endif %}">
            {% if numbered %}<td class="data number">{{ loop.index }}</td>{% endif %}
            <td class="data">{{ performance_contract.name }}</td>
            <td class="data date">{{ render_date(performance_contract.date_range_start) }}</td>
            <td class="data date">{{ render_date(performance_contract.date_range_end) }}</td>
            <td class="data number">{{ render_number(performance_contract.tiers|length) }}</td>
        </tr>{% endfor %}
    {% endif %}</tbody>
</table>
{% endmacro %}
