{% from "macros.html" import render_number %}


{% macro render_performance_tiers_table(tiers) %}
{# renders inside of table, the other table renderers should be changed too #}
{% set instance_endpoint = kwargs.get('instance_endpoint') %}
{% set instance_kwargs = kwargs.instance_kwargs if kwargs.instance_kwargs else {} %}
{% set active_id = kwargs.active_id %}
<thead>
    <tr>
        <th rowspan="2">Tier</th>
        <th colspan="2">Performance Range</th>
    </tr>
    <tr>
        <th>Start</th>
        <th>End</th>
    </tr>
</thead>
<tbody>{% if not tiers %}
    <tr>
        <td colspan="3"><h4>No performance tiers</h4></td>
    </tr>{% else %}{% for tier in tiers %}
    <tr{% if active_id is not none and tier.id == active_id %} class="active"{% endif %}{% if instance_endpoint %} data-href="{{ url_for(instance_endpoint, id=tier.id, **instance_kwargs) }}"{% endif %}>
        <td class="data">{{ tier.tier }}</td>
        <td class="data number">{{ render_number(tier.performance_range_start) }}</td>
        <td class="data number">{{ render_number(tier.performance_range_end) }}</td>
    </tr>{% endfor %}
{% endif %}</tbody>
{% endmacro %}

