#monthnav {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    text-align: center;
}

#monthnav a {
    /* top/bottom spacing like the h tag in the middle */
    padding: var(--header-separation) 0;
}

#monthnav a:first-child {
    /* previous month link */
    text-align: left;
}

#monthnav a:last-child {
    /* next month link */
    text-align: right;
}

/* use id instead? */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.wd, .day {
    text-align: center;
}

.wd {
    /* weekday formatting */
    padding: .5rem 1rem;
    font-size: .75rem;
    font-weight: bold;
}

.day {
    /* cell in a calendar */
    display: block;
    border: 1px solid var(--font-color);
    font-size: 1.25rem;
    padding: 2rem;
}

.legend {
    margin-top: 2rem;
}

/* today's date link */
.today {
    background: var(--a-date-today-background-color);
}

/* this-weekday used on the import screen to highlight why this flight is included */
.this-weekday {
    background-color: ForestGreen;
    color: white;
}
