.calendar {
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.wd, .day {
    text-align: center;
}

.wd {
    /* weekday formatting */
    padding: .1rem 1.5rem;
    font-size: .75rem;
    font-weight: bold;
}

.day {
    /* cell in a calendar representing a day */
    display: block;
    font-size: 1.25rem;
    padding: 48px;
    border: 1px solid #aaa;
}

.legend {
    margin-top: 2rem;
}

/* today's date link */
.today {
    background-color: var(--a-date-today-background-color);
}

/* this-weekday used on the import screen to highlight why this flight is included */
.this-weekday {
    background-color: ForestGreen;
    color: white;
}

.day {
    border-color: black;
}

@media screen and (prefers-color-scheme: dark) {
    .today, a.today:visited {
        background-color: #111;
    }

    .day {
        border-color: #555;
    }
}
