:root {
    --input-margin-topbottom: 0.5rem;
}

fieldset {
    margin: 1rem 0;
    padding: 1rem;
}

input, textarea, select {
    color: inherit;
    background-color: inherit;
}

input, select {
    margin: var(--input-margin-topbottom) 0;
    padding: 0.5rem;
}

input[type=submit] {
    min-width: 8rem;
}

label {
    margin: 1rem .25rem;
}

textarea {
    font-family: monospace;
    font-size: 1rem;
    padding: 4px 8px;
}

/* flight/form.html: makes things line up nicely */
fieldset > label:nth-child(2) {
    margin-left: 0;
    min-width: 50px;
    display: inline-block;
}

input ~ input {
    margin-left: 0;
}

label:first-child {
    margin-left: 0;
}

label:hover {
    cursor: pointer;
}

h3 > label {
    margin-left: 0;
}

form > .buttons {
    display: flex;
    flex-direction: row;
}

form > .buttons > * {
    margin: 0 1rem 0 0;
}

/* report form styling */

input.narrowest {
    width: 4rem;
}

/* flight form styling below */

form #leg {
    width: 2rem;
}

form #flight_number, form #tail_number {
    width: 4rem;
}

form #weight {
    width: 8rem;
}

form #origin_station,
form #destination_station {
    width: 3rem;
}

form #flight_type.scheduled,
form #flight_number.scheduled,
form #origin_station.scheduled,
form #destination_station.scheduled,
form #origin_departure_estimated_time.scheduled,
form #destination_arrival_estimated_time.scheduled {
    box-sizing: border-box;
    width: 100%;
}

form #origin_departure_estimated_date,
form #origin_departure_actual_date,
form #destination_arrival_estimated_date,
form #destination_arrival_actual_date {
    width: 6rem;
}

label[for="destination_arrival_estimated_time"],
label[for="destination_arrival_actual_time"],
label[for="origin_departure_estimated_time"],
label[for="origin_departure_actual_time"] {
    /* FIXME */
    /*display: none;*/
}

form #origin_departure_estimated_time,
form #origin_departure_actual_time,
form #destination_arrival_estimated_time,
form #destination_arrival_actual_time,
/* javascript populated estimated/actual diff minutes */
form #origin-diff-minutes,
form #destination-diff-minutes {
    width: 3rem;
}

/* javascript populated estimated/actual diff minutes */
/* red if starts with dash and is not zero */
form #origin-diff-minutes:not([value^="-"]):not([value="0"]),
form #destination-diff-minutes:not([value^="-"]):not([value="0"]) {
    color: var(--flight-late-color);
}

form #origin_delays, form #destination_delays {
    width: 40rem;
}

form .flight {
    font-family: monospace;
    font-size: 1rem;
}

.date-entry {
    margin-right: 0;
}

/* error message for form field */
.field-error {
    color: red;
}

/* a row inside a fieldset for the flight edit */
.flight-form-row {
    display: flex;
    justify-content: space-between;
}

.scheduled-flight-form {
    display: grid;
    grid-template-columns: auto auto;
}

.scheduled-flight-form.buttons {
    margin-top: 2rem;
}
