@media print {
    a {
        text-decoration: none;
    }

    body,
    a,
    a:link,
    a:visited,
    input,
    textarea {
        background-color: white;
        color: black;
    }

    [data-href] {
        text-decoration: none;
    }

    .noprint {
        display: none !important;
    }

    body {
        padding-bottom: 0 !important;
    }

    .performance-section {
        page-break-inside: avoid;
    }

    pre {
        font-size: 1rem;
    }

    h3,
    th.top {
        font-size: 1rem;
    }

    h3 {
        margin: .5rem 0;
    }

    /* hide the little expand icon for <details><summary>... */
    /* https://justmarkup.com/articles/2020-09-22-styling-and-animation-details/ */
    summary {
        list-style: none;
    }
    summary::-webkit-details-marker {
        display: none;
    }
    /* hide after <summary> */
    details > *:not(:first-child) {
        display: none;
    }

    tbody > tr > th,
    th,
    th.row,
    td.data,
    pre {
        font-size: .90rem;
        color: black;
    }

}
