a, a:link body, a:visited, body, input, td, textarea, th.row {
    background-color: White;
    color: Black;
}

/* report title */
/* make report title align left-most */
#report-nav {
    margin: 0 0 1rem 0;
}

#report-title {
    margin: 0;
}


.noprint {
    display: none !important;
    width: 0;
}

table, th, td, textarea {
    border: 1px solid black;
}

textarea {
    /* hide resize handle */
    resize: none;
}

a, [data-href] {
    text-decoration: none;
}

body {
    padding-bottom: 0 !important;
}

.performance-section {
    page-break-inside: avoid;
}

h3 {
    margin: .5rem 0;
}

#system-detail {
    margin-top: 1.5rem;
}

/* hide the little expand icon for <details><summary>... */
/* https://justmarkup.com/articles/2020-09-22-styling-and-animation-details/ */
summary {
    list-style: none;
}

summary::-webkit-details-marker,
/* hide details after <summary> */
details > *:not(:first-child) {
    display: none;
}
