/* always applied styling */
/* the way everything should always look */

:root {
    --color: black;
    --header-separation: 1.5rem;
    --flash-width: 720px;
    /* tables */
    --th-color: var(--color);
    --th-background-color: LightGray;
    --table-border-color: #333;
    --active-row-background-color: DarkOliveGreen;
    --active-row-color: White;
    --head-padding: 4px 6px;
    --cell-padding: 3px 6px;
    /* calendar */
    --a-date-today-background-color: Bisque;
    --this-weekday-color: White;
    --this-weekday-background-color: ForestGreen;
    --day-border-color: #999;

    --danger-color: #a03934;
}

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* use inheritance to avoid breaking things that are not using border-box */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

.hidden {
    display: none;
}

.rows-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main {
    width: fit-content;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--header-separation) 0;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
    text-align: center;
}

a.pill,
strong.pill {
    display: inline-block;
    padding: 8px 4px;
}

dl.explain {
    display: flex;
}

em {
    background-color: DarkSlateGrey;
    color: White;
    padding: 2px 8px 2px 4px;
}

.expand {
    width: 100%;
}

/* table */

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--table-border-color);
}

th {
    padding: var(--head-padding);
    font-size: .8rem;
    vertical-align: bottom;
    color: var(--th-color);
    background-color: var(--th-background-color);
    height: initial;
}

th.row {
    /* table header element (th) used as a row's header */
    color: var(--color);
    background-color: var(--background-color);
    white-space: nowrap;
    text-align: left;
    font-size: .9rem;
}

th.top {
    text-align: center;
    font-size: .9rem;
}

tr.active {
    color: var(--active-row-color);
    background-color: var(--active-row-background-color);
}

td {
    padding: var(--cell-padding);
}

/* flash messages */
#flashes {
    color: White;
    width: var(--flash-width);
    margin: 0 auto;
}

.flash {
    /* single flash item */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 15px;
}

.close {
    /* flash close button */
    font-size: 25px;
}

.flash.info {
    background-color: CornflowerBlue;
}

.flash.success {
    background-color: ForestGreen;
}

.flash.warning {
    background-color: DarkOrange;
}

.flash.warning a {
    color: Snow;
}

.flash.error {
    background-color: Crimson;
}

/* error page */
.error.code {
    margin-right: 1rem;
}

/* navigation */

nav {
    /* horizontal navigation elements */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

nav > * {
    margin: 0 2rem;
}

nav > *:first-child {
    margin-left: 0;
}

nav > *:last-child {
    margin-right: 0;
}

a.nav {
    padding: 0.5rem 1rem;
}

a.nav.active {
    color: var(--active-row-color);
    background-color: var(--active-row-background-color);
}

.report-buttons {
    /* "buttons" at the top of performance reports */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* default font-size: https://www.w3schools.com/cssref/css_default_values.asp */
    font-size: 1.17em;
    font-weight: bold;
    justify-content: space-between;
}

#calendar-nav,
#report-nav,
#flight-form-back,
#monthly-nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#calendar-nav, /* the daily date selector for reports */
#flight-form-back {
    width: 900px;
}

#monthly-nav {
    /* monthly calendar selector for assumed best */
    width: 700px;
}

.click:hover {
    cursor: pointer;
}

.edit-link {
    /*
     * edit links in-line with text, meant to be the final element.
     * often inside a header element so the font-size is put back.
     */
    margin-left: 1rem;
    font-size: 1rem;
}

.data {
    font-family: monospace;
    font-size: 1rem;
}

.reference {
    /* class to refer to something else on the same page */
    padding: 4px;
    border: 1px solid grey;
}

.data.number {
    text-align: right;
}

.data.date {
    text-align: center;
}

.data.late {
    color: red;
}

.data.bool[data-value="False"] {
    color: red;
}

hr {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}

ul.flat {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat > li {
    margin: 1rem 0;
}

ul.horiz {
    /* mainly for the debugging report/expanded.html template (1) */
    margin: 0;
    padding: 0;
    display: flex;
}

ul.horiz > li {
    /* (1) */
    margin-left: 2rem;
}

ul.horiz > li:first-child {
    /* (1) */
    margin-left: 1rem;
}

.months {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.card {
    display: block;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    outline: 1px solid var(--color);
}

.card.month-name {
    font-size: 1.25rem;
}

/* year number need to be a little bigger */
h3.select-month {
    font-size: 1.75rem;
}

h4.select-month {
    font-size: 1.3rem;
}

.setting {
    /* (1) */
    /* want some space after the configuration settings list */
    margin-bottom: 2.5rem;
}

.report-title {
    font-size: 1.7em;
    font-weight: bold;
    margin: .67em 0;
}

.delete-report {
    margin-top: 5rem;
}

.flights-table {
    margin-top: 2rem;
}

h3.update-external {
    /* hack around .flight-table for external update link */
    margin-top: 2rem;
    margin-bottom: 0;
}

.flight-type-name {
    text-align: left;
    font-size: 1.05rem;
}

#system-detail-text {
    border: 1px solid black;
    padding: .2rem;
}

ol {
    margin-top: 1rem;
}

ol > li {
    margin: 1rem 0;
}

/* pagination */

ol.pagination {
    list-style-type: none;
    padding: 0;
    margin: 1rem auto; /* space above, centered */
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

ol.pagination li {
    margin: 0 1rem;
}

ol.pagination li:first-child {
    margin-left: 0;
}

ol.pagination li:last-child {
    margin-right: 0;
}


/* delay codes */

ol.delay-codes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.delay-codes > * {
    margin: 0 4px;
}

.delay-codes > *:first-child {
    margin-left: 0;
}

.delay-codes > *:last-child {
    margin-right: 0;
}

#new-report-prompt {
    width: fit-content;
    margin: 0 auto;
}

#previous-next-navigation {
    width: fit-content;
    min-width: 900px;
    margin: 0 auto 1rem auto;
    display: flex;
    justify-content: space-between;
}

details:hover {
    cursor: pointer;
}

.scheduled-report {
    margin-bottom: 2rem;
}

.new-report-scheduled-report {
    /* new report from schedule links */
    font-size: 1.5rem;
    margin: 1rem 0;
}

.prompt-new-weekday-match {
    /* new report from schedule */
    /* this element matches the day of the week */
    font-size: 2.5rem;
}

.username {
    font-family: monospace;
    font-size: 1rem;
    background-color: grey;
    color: white;
    padding: 2px 4px;
}

/* calendar (select date) */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.wd, .day {
    text-align: center;
}

.wd {
    /* weekday formatting */
    padding: .1rem 1.5rem;
    font-size: .75rem;
    font-weight: bold;
}

.day {
    /* cell in a calendar representing a day */
    display: block;
    font-size: 1.25rem;
    padding: 48px;
    border: 1px solid #aaa;
    border-color: var(--day-border-color);
    min-width: 145px;
    min-height: 100px;
}

.legend {
    margin-top: 2rem;
}

.date-wrap {
    white-space: nowrap;
}

/* today's date link */
.today {
    background-color: var(--a-date-today-background-color);
}

/* this-weekday used on the import screen to highlight why this flight is included */
.this-weekday {
    background-color: var(--this-weekday-background-color);
    color: var(--this-weekday-color);
}


/* forms */

fieldset {
    margin: 1rem 0;
    padding: 1rem;
}

input,
select,
textarea {
    color: inherit;
    background-color: inherit;
    font-size: 1rem;
}

input:not([type=submit]),
select {
    width: 100%;
}

input:not([type=submit]),
label,
select {
    margin: .3rem 0;
    min-height: 1rem;
    padding: .3rem;
}

/* inputs besides buttons and checkboxes */
input:not([type=submit,type=checkbox]),
select {
    font-family: monospace;
    min-width: 200px;
}

input[type=checkbox] {
    /* makes the checkboxes line up with their labels in the next column */
    min-height: 28px;
    width: 1.5rem;
}

button, input[type=submit] {
    min-width: 8rem;
    padding: .5rem;
}

label {
    display: inline-block;
    white-space: nowrap; /* generally don't want labels wrapping */
}


textarea {
    font-family: monospace;
    font-size: 1rem;
    padding: 4px 8px;
}

textarea.auto-resize {
    /* allow JS to resize */
    overflow: hidden;
    resize: both;
}

/* flight/form.html: makes things line up nicely */
fieldset > label:nth-child(2) {
    margin-left: 0;
    min-width: 50px;
    display: inline-block;
}

input ~ input {
    margin-left: 0;
}

label:first-child {
    margin-left: 0;
}

label:hover {
    cursor: pointer; /* clickable label indication */
    user-select: none; /* disable selecting text */
}

h3 > label {
    margin-left: 0;
}

button.danger, input[type=submit].danger {
    /*background: #a03934;*/
    background: var(--danger-color);
    color: white;
}

p.danger {
    color: var(--danger-color);
    font-weight: bold;
}

form.list-form {
    min-width: 350px;
}

form > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
}

/* classes included because these same identities exist for scheduled flights */
form #flight_type.flight {
    width: 14rem;
}

form #origin_delays_string.flight,
form #destination_delays_string.flight {
    width: 100%;
}

form #leg.flight {
    width: 5rem;
}

form #origin_station.flight,
form #destination_station.flight,
form #origin_departure_estimated_time.flight,
form #origin_departure_actual_time.flight,
form #destination_arrival_estimated_time.flight,
form #destination_arrival_actual_time.flight,
/* javascript populated estimated/actual diff minutes */
form #origin-diff-minutes.flight,
form #destination-diff-minutes.flight {
    width: 6rem;
}

form #flight_number.flight,
form #tail_number.flight,
form #weight.flight,
form #origin_departure_estimated_date.flight,
form #origin_departure_actual_date.flight,
form #destination_arrival_estimated_date.flight,
form #destination_arrival_actual_date.flight {
    width: 8rem;
}

/* hide labels that would look like duplicates */
label[for="destination_arrival_estimated_time"],
label[for="destination_arrival_actual_time"],
label[for="origin_departure_estimated_time"],
label[for="origin_departure_actual_time"] {
    display: none;
}

/* late color if starts with dash and is not zero */
form #origin-diff-minutes:not([value^="-"]):not([value="0"]), /* (1) */
form #destination-diff-minutes:not([value^="-"]):not([value="0"]) {
    color: var(--flight-late-color);
}
/* (1) javascript populated estimated/actual diff minutes */

form div.delays {
    display: flex;
}

form.scheduled-report {
    margin-top: 2em;
}

/* inputs on the schedule editor */
input.scheduled-report,
input.scheduled-flight {
    /* avoid squishing the side-by-side form against the right */
    min-width: 14rem;
}

form.scheduled-report .buttons,
form.user-admin .buttons,
.buttons-2 {
    margin-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
}

.buttons-2 {
    /* this is messing up the schedule tab alignment */
    /* removing to see what gets messed up */
    /* hopefully it can just be removed */
    /*
    padding: 0 10px;
    */
}

/* performance stats at top of report */
#performance-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#performance-table {
    margin-right: 1rem;
}

#performance-table td,
#performance-table th.row {
    vertical-align: middle;
}

#performance-contract-wrapper {
    width: min-content;
    margin-left: 1rem;
}

form .flight {
    font-family: monospace;
    font-size: 1rem;
}

.new-scheduled-report {
    margin-top: 4em;
}

.date-entry {
    margin-right: 0;
}

/* error message for form field */
.field-error {
    color: red;
}

/* a row inside a fieldset for the flight edit */
.flight-form-row {
    display: flex;
    justify-content: space-between;
}

.scheduled-flight-form {
    display: grid;
    grid-template-columns: auto auto;
}

.scheduled-flight-form.buttons {
    margin-top: 2rem;
}

.button {
    border: 1px solid var(--color);
    padding: 2px 8px;
}

.tight {
    width: min-content;
}

.admin-note {
    /* note on admin pages under table listing heading */
    min-width: 50ch;
}

.summary-row-title {
    text-align: right;
}

/* performance contract table for report */

/* fixed layout seems to be the only way to set the width of columns */
/* wanted to set the width so that the header field of the last column wraps
 * its text exactly like the request showed */
.performance-contract-table {
    table-layout: fixed;
}

.performance-contract-table colgroup col:first-child {
    width: 180px;
}

.performance-contract-table colgroup col:last-child {
    width: 150px;
}

.performance-contract-table td {
    padding: 8px;
}

.performance-contract-table td.tier {
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
}

form.user-admin label {
    display: inline-block;
    width: 10em;
}

form .performance-tiers {
    margin: 1rem 0;
}

.devel {
    /* style as "development-only" */
    color: red !important;
    font-weight: bold;
}

.table-form-grid {
    /* The table on the left and form on the right editor pages */
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.col-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.col-2.fields {
    grid-column-gap: 1rem;
}

.col-2 .item.first {
    justify-self: right;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.full-span {
    grid-column: 1 / -1;
}

.row {
    width: min-content;
    margin: 0 auto;
}

.row-container {
    display: flex;
}

.page {
    text-align: center;
}

.formlist {
    display: flex;
    justify-content: space-between;
}

.formlist > *:first-child {
    margin-right: 0.5rem;
}

.formlist > *:last-child {
    margin-left: 0.5rem;
}

.scheduled-flight.form-container {
    /* scheduled flight edit form container */
    position: sticky;
    top: 15px;
}

input[value="Update System Detail"] {
    margin: 2rem 0;
}

form.delay-code #description {
    font-family: arial;
}

.external.fn_number {
    width: 100px;
}

.flight-changes-grid {
    align-items: center;
}

.field-header {
    text-align: center;
}

.flight-info-group {
    border-bottom: 1px solid var(--color);
    margin-bottom: 0.5rem;
}

.flight-info-not-first {
    margin-top: 2rem;
}

.flight-info + .flight-info {
    /* more space between the flight identification info */
    margin-left: 1rem;
}

.buttons.flight-changes {
    margin-top: 2rem;
}

.flight-changes.label {
    /* "indent" the changed fields rows */
    padding-left: 1rem;
}

pre.sql {
    font-size: 1rem;
    max-width: 80ch;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
