:root {
    --font-color: black;
    --background-color: white;
    --input-font-color: black;
    --input-background-color: white;

    --a-unvisited-color: MediumBlue;
    --a-visited-color: MediumBlue;
    --a-hover-color: Red;
    --a-active-color: Plum;

    /* select date for today */
    --a-date-today-background-color: Bisque;

    --data-href-background-color: #111;

    --header-separation: 1.5rem;

    --head-padding: 4px 6px;
    --cell-padding: 3px 6px;

    --flight-late-color: red;

    --table-border-color: black;
    --table-th-color: black;

    --input-color: default;
    --input-background: default;
}

[data-theme="dark"] {
    --font-color: #ccc;
    --background-color: #333;
    --input-font-color: #ccc;
    --input-background-color: #333;

    --a-unvisited-color: Orange;
    --a-visited-color: Orange;
    --a-hover-color: White;
    --a-active-color: Red;

    --a-date-today-background-color: DarkOliveGreen;

    --data-href-background-color: #111;

    --table-border-color: DarkGray;

    --input-color: White;
    --input-background: #222;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: arial;
    padding-bottom: 100%;
}

main {
    width: fit-content;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--header-separation) 0;
}

a:link {
    color: var(--a-unvisited-color);
}

a:visited {
    color: var(--a-visited-color);
}

a:hover, [data-href]:hover {
    color: var(--a-hover-color);
}

a:active, [data-href]:active {
    color: var(--a-active-color);
}

.click:hover {
    cursor: pointer;
}

nav {
    /* horizontal navigation elements */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
}

nav > * {
    padding: 0 2rem;
}

/* links from data-href attribute */
[data-href] {
    text-decoration: underline;
}

[data-href]:hover {
    cursor: pointer;
}

.edit-link {
    /*
     * edit links in-line with text, meant to be the final element.
     * often inside a header element so the font-size is put back.
     */
    margin-left: 1rem;
    font-size: 1rem;
}

.data {
    font-family: monospace;
    font-size: 1rem;
}

.data.number {
    text-align: right;
}

.data.numeric {
    text-align: right;
}

.data.late {
    color: var(--flight-late-color);
}

ul.flat {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat > li {
    margin: 1rem 0;
}

ul.buttons > li {
    float: left;
    margin-right: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width50 {
    width: 50%;
}

.delete-report {
    margin-top: 5rem;
}

.flights-table {
    margin-top: 2rem;
}

.flight-type-name {
    text-align: left;
    font-size: 1.05rem;
}

#system-detail-text {
    border: 1px solid black;
    padding: .2rem;
}

.delay-code {
    margin-right: .7rem;
}

.delay-code:last-child {
    margin-right: 0rem;
}

#previous-next-navigation {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

details:hover {
    cursor: pointer;
}
