:root {
    --font-color: black;
    --background-color: white;
    --input-font-color: black;
    --input-background-color: white;

    --a-unvisited-color: DarkSlateGrey;
    --a-visited-color: DarkSlateGrey;
    --a-hover-color: Red;
    --a-active-color: Plum;

    /* select date for today */
    --a-date-today-background-color: Bisque;

    --data-href-hover-color: DarkOrange;
    --data-href-hover-background-color: #333;

    --header-separation: 1.5rem;

    --head-padding: 4px 6px;
    --cell-padding: 3px 6px;

    --flight-late-color: red;

    --table-border-color: black;
    --table-th-color: black;

    --input-color: default;
    --input-background: default;
}

[data-theme="dark"] {
    --font-color: #ccc;
    --background-color: #333;
    --input-font-color: #ccc;
    --input-background-color: #333;

    --a-unvisited-color: Orange;
    --a-visited-color: Orange;
    --a-hover-color: White;
    --a-active-color: Red;

    --a-date-today-background-color: DarkOliveGreen;

    --data-href-hover-background-color: #111;

    --table-border-color: DarkGray;

    --input-color: White;
    --input-background: #222;
}

@media screen {
    body {
        padding-bottom: 100%;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: arial;
}

main {
    width: fit-content;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--header-separation) 0;
}

.click:hover {
    cursor: pointer;
}

.edit-link {
    /*
     * edit links in-line with text, meant to be the final element.
     * often inside a header element so the font-size is put back.
     */
    margin-left: 1rem;
    font-size: 1rem;
}

.data {
    font-family: monospace;
    font-size: 1rem;
}

.data.number {
    text-align: right;
}

.data.numeric {
    text-align: right;
}

.data.late {
    color: red;
}

ul.flat {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat > li {
    margin: 1rem 0;
}

ul.buttons > li {
    float: left;
    margin-right: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.print-button {
    font-size: 1.5em;
    font-weight: bold;
    margin: .67em 0;
    display: block;
    width: fit-content;
}

.report-title {
    font-size: 1.7em;
    font-weight: bold;
    margin: .67em 0;
}

.delete-report {
    margin-top: 5rem;
}

.flights-table {
    margin-top: 2rem;
}

.flight-type-name {
    text-align: left;
    font-size: 1.05rem;
}

#system-detail-text {
    border: 1px solid black;
    padding: .2rem;
}

ol.pagination {
    list-style-type: none;
    padding: 0;
    margin: 1rem auto;
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

ol.pagination li {
    margin: 0 1rem;
}

ol.pagination li:first-child {
    margin-left: 0;
}

ol.pagination li:last-child {
    margin-right: 0;
}

ol.delay-codes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.delay-codes > * {
    margin: 0 4px;
}

.delay-codes > *:first-child {
    margin-left: 0;
}

.delay-codes > *:last-child {
    margin-right: 0;
}

.delay-code {
    /*margin-right: .7rem;*/
}

.delay-code:last-child {
    margin-right: 0rem;
}

#new-report-prompt {
    width: fit-content;
    margin: 0 auto;
}

#previous-next-navigation {
    width: fit-content;
    min-width: 900px;
    margin: 0 auto 1rem auto;
    display: flex;
    justify-content: space-between;
}

details:hover {
    cursor: pointer;
}

.scheduled-report {
    margin-bottom: 2rem;
}

.prompt-new-weekday-match {
    font-size: 1.5rem;
    padding: 2.5rem 0;
}

.username {
    font-family: monospace;
    font-size: 1rem;
    background-color: grey;
    color: white;
    padding: 2px 4px;
}

@media only screen {
    nav {
        /* horizontal navigation elements */
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    nav > * {
        margin: 0 2rem;
    }

    nav > *:first-child {
        margin-left: 0;
    }

    nav > *:last-child {
        margin-right: 0;
    }

    nav.title {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #calendar-nav,
    #flight-form-back {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #calendar-nav {
        width: 800px;
    }

    #report-nav {
        width: 900px;
    }

    #flight-form-back {
        /* want this link on the left side */
        margin-left: 0;
    }

    /* links from data-href attribute */
    [data-href]:hover {
        background-color: #333;
        color: Orange;
        cursor: pointer;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ccc;
        background-color: #222;
    }

    a:link {
        color: Orange;
    }

    a:visited {
        color: Orange;
    }

    a:hover, [data-href]:hover {
        color: white;
    }

    [data-href]:hover {
        background: #000;
    }

    a:active, [data-href]:active {
        color: Red;
    }

    th:not(.row) {
        color: DarkOrange;
        background: inherit;
    }
}
