table {
    border-collapse: collapse;
}

table.expand {
    width: 100%;
}

table, th, td {
    border: 1px solid var(--font-color);
}

th {
    padding: var(--head-padding);
    font-size: .8rem;
    vertical-align: bottom;
}

thead > tr > th {
    background: LightGray;
}

td {
    padding: var(--cell-padding);
    /* make non-.data tds a little smaller */
    font-size: .925rem;
    vertical-align: top;
}

td.data {
    font-family: monospace;
    font-size: 1rem;
}

th.top {
    text-align: center;
    font-size: .9rem;
}

tbody > tr > th {
    text-align: left;
    font-size: .9rem;
}
