{% extends "base.html" -%}

{%- from "macros.html" import blank_if_falsy -%}
{%- from "macros.html" import blank_if_none -%}
{%- from "macros.html" import diff_class -%}
{%- from "macros.html" import percent -%}
{%- from "macros.html" import render_delaycodes -%}
{%- from "macros.html" import render_form -%}
{%- from "macros.html" import time -%}
{%- from "macros.html" import yes -%}

{%- block content -%}
<form action="{{ url_for(request.endpoint, **request.view_args) }}" method="POST">
    {{ form.hidden_tag() }}
    <table>
        <thead>
            <tr>
                <th>ABX Amazon Perf.</th>
                <th>Percent</th>
                <th>Lanes</th>
                <th>Lates</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Today's Performance</th>
                <td>{{ form.previous_days_performance_percent() }}</td>
                <td>{{ form.previous_days_performance_lanes() }}</td>
                <td>{{ form.previous_days_performance_late() }}</td>
            </tr>
            <tr>
                <th>Arrival Performance MTD &gt; 15</th>
                <td>{{ form.arrival_performance_mtd_percent() }}</td>
                <td>{{ form.arrival_performance_mtd_lanes() }}</td>
                <td>{{ form.arrival_performance_mtd_late() }}</td>
            </tr>
            <tr>
                <th>Arrival Performance MTD &gt; 30</th>
                <td>{{ form.arrival_performance_mtd_30_percent() }}</td>
                <td>{{ form.arrival_performance_mtd_30_lanes() }}</td>
                <td>{{ form.arrival_performance_mtd_30_late() }}</td>
            </tr>
            <tr>
                <th># days at 100%</th>
                <td>{{ form.days_at_100_percent() }}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th>Assumed Best Arrival Performance for Month</th>
                <td>{{ form.assumed_best_arrival_performance_for_month_percent() }}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <th>QTD Performance</th>
                <td>{{ form.qtd_performance_percent() }}</td>
                <td>{{ form.qtd_performance_lanes() }}</td>
                <td>{{ form.qtd_performance_late() }}</td>
            </tr>
        </tbody>
    </table>
    {{ form.submit }}
</form>
{% endblock content -%}
