button, fieldset, input, label, select, textarea {
    box-sizing: border-box;
}

input[type=date],
input[type=datetime],
input[type=number],
input[type=text],
select,
textarea:not([cols]) {
    width: 15rem;
}

input[type=date].narrower,
input[type=datetime].narrower,
input[type=number].narrower,
input[type=text].narrower,
select.narrower,
textarea:not([cols]).narrower {
    width: 10rem;
}

input[type=date].narrowest,
input[type=datetime].narrowest,
input[type=number].narrowest,
input[type=text].narrowest,
select.narrowest,
textarea:not([cols]).narrowest {
    width: 6rem;
}

button, input[type=submit] {
    width: 10rem;
}

/* rename "sm" to "narrowest" */
button.sm, input[type=submit].sm {
    width: 5rem;
}

button.narrow, input[type=submit].narrow {
    width: 7.5rem;
}

button.narrower, input[type=submit].narrower {
    width: 7rem;
}

button, input, select, textarea {
    padding: .5rem;
}

input[type=file] {
    padding: 0;
}

form {
    display: inline-block;
    margin: 0 auto;
}

form.expand {
    display: block;
}

/* actual label text is inside a span */
label > span {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

label > span.normal {
    width: 150px;
}

label > span.narrow {
    width: 100px;
}

label > span.narrower {
    width: 50px;
}

label {
    position: relative;
}

fieldset {
    margin: .5rem 0;
}

.label-for-textarea {
    vertical-align: top;
}

.date-entry {
    width: 6rem !important;
}

.time-entry {
    width: 6rem !important;
}

li.input-group {
    margin-left: .5rem !important;
}

.single-line {
    margin-left: 2rem;
}

input[data-autocomplete-varname=airports] {
    width: 6rem;
}

/* flight form */

input.flight, textarea.flight, select.flight {
    margin: .5rem;
}
