:root {
    --input-margin-topbottom: 0.5rem;
}

label:hover {
    cursor: pointer;
}

input {
    margin: var(--input-margin-topbottom) 0;
    padding: 0.5rem;
}

input[type=submit] {
    min-width: 8rem;
}

form > .buttons {
    display: flex;
    flex-direction: row;
}

form > .buttons > * {
    margin: 0 1rem 0 0;
}
