:root {
    --font-color: black;
    --background-color: white;
    --input-font-color: black;
    --input-background-color: white;

    --a-unvisited-color: MediumBlue;
    --a-visited-color: RebeccaPurple;
    --a-hover-color: Red;
    --a-active-color: Plum;

    /* select date for today */
    --a-date-today-background-color: Bisque;

    --data-href-background-color: #111;
}

[data-theme="dark"] {
    --font-color: #ccc;
    --background-color: #333;
    --input-font-color: #ccc;
    --input-background-color: #333;

    --a-unvisited-color: Orange;
    --a-visited-color: OrangeRed;
    --a-hover-color: White;
    --a-active-color: Red;

    --a-date-today-background-color: DarkOliveGreen;

    --data-href-background-color: #111;
}

body {
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    font-family: arial;
    padding-bottom: 100%;
}

a:link {
    color: var(--a-unvisited-color);
}

a:visited {
    color: var(--a-visited-color);
}

a:hover {
    color: var(--a-hover-color);
}

a:active {
    color: var(--a-active-color);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, auto);
}

.wd {
    /* weekday formatting */
    padding: .5rem 1rem;
}

.day {
    /* cell in a calendar */
    padding: 1.5rem;
    border: 1px solid var(--font-color);
}

.legend {
    margin-top: 2rem;
}

/* today's date link */
.today {
    background: var(--a-date-today-background-color);
}

/* top navigation links */
a.nav {
    padding: 0 2rem;
}

nav {
    /* horizontal navigation elements */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

table.expand {
    width: 100%;
}

table, th, td {
    border: 1px solid var(--font-color);
}

#crew-info, #aircraft-spares {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#crew-info > *, #aircraft-spares > * {
    padding: .25rem .5rem;
    font-family: monospace;
}

.data {
}

.data.numeric {
    text-align: right;
}

.data.late {
    color: red;
}

th {
    padding: 4px 6px;
    font-size: .8rem;
}

td {
    padding: 2px 4px;
}

/* field names that appear in rows of tables */
/* ??? just use <th> ??? */
td.head {
    font-family: arial;
}

tbody {
    font-family: monospace;
}

ul.flat {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flat > li {
    margin: 1rem 0;
}

ul.buttons > li {
    float: left;
    margin-right: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width50 {
    width: 50%;
}

#crew_info_1200, #crew_info_2000, #crew_info_0300 {
    width: 12rem;
}

input, select, textarea {
    font-family: monospace;
    color: var(--input-font-color);
    background-color: var(--input-background-color);
}

input[type="submit"] {
    margin: 4px 2px;
}

input[type="submit"]:first-child {
    margin-left: 0;
}

button, fieldset, input, label, select, textarea {
    box-sizing: border-box;
}

input[type=date],
input[type=datetime],
input[type=number],
input[type=text],
select,
textarea:not([cols]) {
    width: 15rem;
}

input[type=date].narrower,
input[type=datetime].narrower,
input[type=number].narrower,
input[type=text].narrower,
select.narrower,
textarea:not([cols]).narrower {
    width: 10rem;
}

input[type=date].narrowest,
input[type=datetime].narrowest,
input[type=number].narrowest,
input[type=text].narrowest,
select.narrowest,
textarea:not([cols]).narrowest {
    width: 6rem;
}

button, input[type=submit] {
    width: 10rem;
}

/* rename "sm" to "narrowest" */
button.sm, input[type=submit].sm {
    width: 5rem;
}

button.narrow, input[type=submit].narrow {
    width: 7.5rem;
}

button.narrower, input[type=submit].narrower {
    width: 7rem;
}

button, input, select, textarea {
    padding: .5rem;
}

input[type=file] {
    padding: 0;
}

form {
    display: inline-block;
    margin: 0 auto;
}

form.expand {
    display: block;
}

/* actual label text is inside a span */
label > span {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

label > span.normal {
    width: 150px;
}

label > span.narrow {
    width: 100px;
}

label > span.narrower {
    width: 50px;
}

label {
    position: relative;
}

fieldset {
    margin: .5rem 0;
}

.label-for-textarea {
    vertical-align: top;
}

.date-entry {
    width: 6rem !important;
}

.time-entry {
    width: 6rem !important;
}

li.input-group {
    margin-left: .5rem !important;
}

.single-line {
    margin-left: 2rem;
}

input[data-autocomplete-varname=airports] {
    width: 6rem;
}

/* flight form */

input.flight, textarea.flight, select.flight {
    margin: .5rem;
}
.click:hover {
    cursor: pointer;
}

/* all flashes container */
.flashes {
    color: White;
}

/* single flash item */
.flash {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 15px;
}

/* flash close button */
.close {
    font-size: 25px;
}

.flash.info {
    background-color: CornflowerBlue;
}

.flash.success {
    background-color: ForestGreen;
}

.flash.warning {
    background-color: DarkOrange;
}

.flash.error {
    background-color: Crimson;
}

@media print {
    * {
        color: black;
    }

    *:hover {
        background-color: white !important;
    }

    body {
        background-color: white;
    }

    .noprint {
        display: none !important;
    }

    body {
        padding-bottom: 0 !important;
    }

}
