{% extends "base.html" %}


{% from "macros.html" import render_form %}


{% macro render_back_link() %}
<h4><a href="{{ request.args.backurl }}">Back</a></h4>
{% endmacro %}


{% block content %}
<article>
    {% if 'backurl' in request.args %}{{ render_back_link() }}{% endif %}
    <form action="{{ url_for(request.endpoint, **request.view_args) }}" method="POST">
        {% block inside_form %}{{ render_form(form) }}{% endblock %}
    </form>
    {% if 'backurl' in request.args %}{{ render_back_link() }}{% endif %}
</article>
{% endblock content %}
