{% extends "base.html" %}


{% from "macros.html" import render_nav_item %}


{% block header %}
{# show admin navigation on all admin pages #}
<nav>
    {{ render_nav_item('admin.delay.list', 'Delay codes', active_prefix='admin.delay.') }}
    {% if config.PERFORMANCE_CONTRACTS %}
    {{ render_nav_item('admin.performance_contract.listform', 'Performance Contracts', active_prefix='admin.performance_contract.') }}
    {% endif %}
    {{ render_nav_item('admin.user.list', 'User accounts', active_prefix='admin.user.') }}
</nav>
{% endblock header %}
