{% extends "admin/base_list_view.html" %}


{% from "macros.html" import render_form %}
{% from "macros.html" import render_pagination %}


{% from "delay_codes/macros.html" import render_delays_table %}


{% set singular = "Delay Code" %}
{% set plural = "Delay Codes" %}


{% block top %}
{% if instance %}
<h4 class="page"><a href="{{ url_for(request.endpoint, explicit_new=1, page=request.args.page) }}">New {{ singular }}</a></h4>
{% endif %}
{% endblock %}


{% block listing %}
<h3 class="page">{{ plural }}</h3>
{{ render_delays_table(pagination.items, instance_endpoint='.list') }}
{{ render_pagination(pagination, endpoint=request.endpoint) }}
{% endblock listing %}


{% block form %}
{% if instance %}
    <h3>Editing {{ singular }} "{{ instance.code }}"</h3>
{% else %}
    <h3>New {{ singular }}</h3>
{% endif %}
<form action="{{ url_for(request.endpoint) }}" method="POST">
    {{ render_form(form) }}
</form>
{% endblock %}
