{% extends "admin/base-list-form.html" %}


{% from "macros.html" import render_form %}
{% from "macros.html" import render_pagination %}


{% from "flight-type/macros.html" import render_flight_types_table %}


{% set singular = "Flight Type" %}
{% set plural = "Flight Types" %}
{% set flight_type = instance %}


{% block listing %}
{% if request.args.page %}
    {% set instance_kwargs = dict(page=request.args.page) %}
{% else %}
    {% set instance_kwargs = dict() %}
{% endif %}
<table class="expand">
    {{ render_flight_types_table(
           pagination.items,
           active_id = flight_type.id,
           instance_endpoint = '.list',
           instance_kwargs = instance_kwargs,
           backurl = url_for(request.endpoint, page=request.args.page or 1, **request.view_args)
       ) }}
</table>
{{ render_pagination(pagination, endpoint=request.endpoint) }}
{% endblock listing %}


{% block form %}
{% if flight_type %}
    {% set action = url_for(request.endpoint, id=request.view_args.id) %}
    <h3>Editing {{ singular }} "{{ flight_type.name }}"</h3>
{% else %}
    {% set action = url_for(request.endpoint) %}
    <h3>New {{ singular }}</h3>
{% endif %}
<form action="{{ action }}" class="delay-code" method="POST">
    {{ render_form(form) }}
</form>
{# disabled because these get automatically created by the delay codes parser #}
{% if false and flight_type %}
<h4 class="page"><a href="{{ url_for(request.endpoint, page=request.args.page) }}">New {{ singular }}</a></h4>
{% endif %}
{% endblock %}
