{% extends "admin/base.html" %}


{% from "flight-type/macros.html" import render_flight_types_table %}
{% from "macros.html" import render_form %}
{% from "macros.html" import render_pagination %}


{% set singular = "Flight Type" %}
{% set plural = "Flight Types" %}
{% set flight_type = instance %}


{% block content %}
    <div class="table-form-grid">
        <div>
            {% if request.args.page %}
                {% set instance_kwargs = dict(page=request.args.page) %}
            {% else %}
                {% set instance_kwargs = dict() %}
            {% endif %}
            <h3 class="page">{{ plural }}</h3>
            <table class="expand">
                {% set backurl = url_for(request.endpoint, page=request.args.page or 1, **request.view_args) %}
                {{ render_flight_types_table(pagination.items, active_id=flight_type.id, instance_endpoint='.list', instance_kwargs=instance_kwargs, backurl=backurl) }}
            </table>
            {{ render_pagination(pagination, endpoint=request.endpoint) }}
        </div>
        <div>
            {# describe what user is seeing #}
            <h3 class="page">{% if flight_type %}Editing {{ singular }} "{{ flight_type.name }}"{% else %}New {{ singular }}{% endif %}</h3>
            <form action="{{ url_for(request.endpoint, **request.view_args) }}" class="delay-code" method="POST">
                {{ render_form(form) }}
            </form>
            {% if flight_type %}<p><a href="{{ url_for(request.endpoint) }}">New {{ singular }}</a></p>{% endif %}
        </div>
    </div>
{% endblock content %}
