{% extends "admin/base-list-form.html" %}


{% from "macros.html" import render_form_buttons %}
{% from "macros.html" import render_form_fields_part %}
{% from "macros.html" import render_pagination %}


{% from "performance-contract/macros.html" import render_performance_contracts_table %}
{% from "performance-tier/macros.html" import render_performance_tiers_table %}


{% set singular = "Performance Contract" %}
{% set plural = "Performance Contracts" %}
{% set performance_contract = instance %}{# rename #}


{% block listing %}
{# performance contracts list #}
<h3>{{ plural }}</h3>
<table class="expand">
    {{ render_performance_contracts_table(
           pagination.items,
           active_id = performance_contract.id,
           instance_endpoint = '.listform',
           instance_kwargs = dict(page=request.args.page or 1),
       ) }}
</table>
{{ render_pagination(pagination, endpoint=request.endpoint) }}
{% endblock listing %}


{% block form %}
<h3>{{ singular }}</h3>
<form action="{{ url_for(request.endpoint, **request.view_args) }}" method="POST">
    {{ render_form_fields_part(form) }}
    {{ render_form_buttons(form) }}
    {% if performance_contract %}
    <h4 class="page"><a href="{{ url_for(request.endpoint, page=request.args.get('page', '1')) }}">New {{ singular }}</a></h4>
    {% endif %}
    {# mix the tiers table inside the contract form #}
    {% if performance_contract %}
    <h3>Tiers</h3>
    <table class="expand performance-tiers">
        {% set backurl = url_for(request.endpoint, **request.view_args) %}
        {{ render_performance_tiers_table(
               performance_contract.tiers,
               instance_endpoint = 'admin.performance_tier.listform',
               instance_kwargs = dict(
                   contract_id = performance_contract.id,
               ),
               backurl = thisurl,
           ) }}
        <tfoot>
            <tr>
                <td colspan="4">
                    <h4><a href="{{ url_for('admin.performance_tier.listform', contract_id=performance_contract.id) }}">New tier</a></h4>
                </td>
            </tr>
        </tfoot>
    </table>{% endif %}
</form>
{% endblock %}
