{% extends "admin/base_list_view.html" %}


{% from "macros.html" import render_form %}
{% from "macros.html" import render_pagination %}


{% from "user/macros.html" import render_user_table with context %}


{% block top %}
{% if instance %}
<h4 class="page"><a href="{{ url_for(request.endpoint, explicit_new=1, page=request.args.page) }}">New user</a></h4>
{% endif %}
{% endblock top %}


{% block listing %}
<h3 class="page">User Accounts</h3>
{{ render_user_table(pagination.items) }}
{{ render_pagination(pagination, endpoint=request.endpoint) }}
{% endblock listing %}


{% block form %}
{% if instance %}
<h3>Editing user "{{ instance.username }}"</h3>
{% else %}
<h3>New User Account</h3>
{% endif %}
<form action="{{ url_for(request.endpoint, **request.view_args) }}" method="POST">
    {{ render_form(form) }}
</form>
{% endblock form %}
