{% extends 'pluggable/form.html' %}


{% from "macros.html" import render_diff_minutes_text %}
{% from "macros.html" import render_field_errors %}


{% macro render_input_group(field) %}
{{ field.label }}{{ field }}{% if field.errors %}{{ render_field_errors(field.errors) }}{% endif %}
{% endmacro %}


{% macro render_diff_minutes_field(id) %}
<label for="{{ id }}">{{ render_diff_minutes_text() }}</label>
<input readonly id="{{ id }}" class="flight" tabindex="-1" title="Difference between estimated and actual, in minutes." value=""></input>
{% endmacro %}


{% set flight = instance %}
{% set report = flight.report or report %}


{% block header %}
{% endblock %}


{% block head %}
{{ super() }}
{% assets filters='jsmin', output='gen/flight-edit.js', 'js/flight-edit.js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
{# javascript injection #}
<script>
{# date to open datepickers to #}
const fallbackDate = "{{ fallbackDate }}";
const originDelayCodesId = "{{ form.origin_delays.id }}";
const destinationDelayCodesId = "{{ form.destination_delays.id }}";
{% set is_edit = request.endpoint.endswith('.edit') %}
const isEdit = {{ is_edit|tojson }};
{# communication to the backend for calculations and autofill #}
</script>
{% endblock head %}


{% block inside_form %}
<nav id="flight-form-back">
    <h3>Back to <a href="{{ request.args.backurl }}">{{ report.date.strftime(config.DATEFMT) }}</a></h3>
</nav>
{{ form.hidden_tag() }}
<fieldset>
    <legend>Flight</legend>
    <div class="flight-form-row">
        <div>
            {{ render_input_group(form.flight_type) }}
        </div>
        <div>
            {{ render_input_group(form.leg) }}
        </div>
        <div>
            {{ render_input_group(form.flight_number) }}
        </div>
        <div>
            {{ render_input_group(form.tail_number) }}
        </div>
        <div>
            {{ render_input_group(form.weight) }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Origin</legend>
    <div class="flight-form-row">
        <div>{{ render_input_group(form.origin_station) }}</div>
        <div>
            {{ render_input_group(form.origin_departure_estimated_date) }}
            {{ render_input_group(form.origin_departure_estimated_time) }}
        </div>
        <div>
            {{ render_input_group(form.origin_departure_actual_date) }}
            {{ render_input_group(form.origin_departure_actual_time) }}
        </div>
        <div>
            {{ render_diff_minutes_field("origin-diff-minutes") }}
        </div>
    </div>
    <div>{{ render_input_group(form.origin_delays) }}</div>
</fieldset>
<fieldset>
    <legend>Destination</legend>
    <div class="flight-form-row">
        <div>
            {{ render_input_group(form.destination_station) }}
        </div>
        <div>
            {{ render_input_group(form.destination_arrival_estimated_date) }}
            {{ render_input_group(form.destination_arrival_estimated_time) }}
        </div>
        <div>
            {{ render_input_group(form.destination_arrival_actual_date) }}
            {{ render_input_group(form.destination_arrival_actual_time) }}
        </div>
        <div>
            {{ render_diff_minutes_field("destination-diff-minutes") }}
        </div>
    </div>
    <div>{{ render_input_group(form.destination_delays) }}</div>
</fieldset>
<fieldset>
    <legend>Comment</legend>
    <div>{{ form.comment }}</div>
</fieldset>
<div>
    {% if form.submit %}{{ form.submit }}{% endif %}
    {% if form.delete %}{{ form.delete }}{% endif %}
</div>
{% endblock inside_form %}
