{% extends 'pluggable/form.html' %}


{% from "macros.html" import render_diff_minutes_text %}


{% macro render_input_group(field) %}{{ field.label }}{{ field }}{% endmacro %}


{% macro render_diff_minutes_field(id) %}
<label for="{{ id }}">{{ render_diff_minutes_text() }}</label>
<input readonly id="{{ id }}" class="flight" tabindex="-1" value=""></input>
{% endmacro %}


{% block head %}
{{ super() }}
{% assets filters='jsmin', output='gen/flight-edit.js', 'js/flight-edit.js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
<script>const FLIGHT_ID = {{ request.view_args.id|safe }};</script>
{% endblock head %}


{% block inside_form %}
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Flight</legend>
        {{ render_input_group(form.flight_type) }}
        {{ render_input_group(form.leg) }}
        {{ render_input_group(form.flight_number) }}
        {{ render_input_group(form.tail_number) }}
        {{ render_input_group(form.weight) }}
    </fieldset>
    <fieldset>
        <legend>Origin</legend>
        {{ render_input_group(form.origin_station) }}
        {{ render_input_group(form.origin_departure_estimated_date) }}
        {{ render_input_group(form.origin_departure_estimated_time) }}
        {{ render_input_group(form.origin_departure_actual_date) }}
        {{ render_input_group(form.origin_departure_actual_time) }}
        {{ render_diff_minutes_field("origin-diff-minutes") }}
        <div>{{ render_input_group(form.origin_delays) }}</div>
    </fieldset>
    <fieldset>
        <legend>Destination</legend>
        {{ render_input_group(form.destination_station) }}
        {{ render_input_group(form.destination_arrival_estimated_date) }}
        {{ render_input_group(form.destination_arrival_estimated_time) }}
        {{ render_input_group(form.destination_arrival_actual_date) }}
        {{ render_input_group(form.destination_arrival_actual_time) }}
        {{ render_diff_minutes_field("destination-diff-minutes") }}
        <div>{{ render_input_group(form.destination_delays) }}</div>
    </fieldset>
    <fieldset>
        <legend>Comment</legend>
        <div>{{ form.comment }}</div>
    </fieldset>
    <div>
        {% if form.submit %}{{ form.submit }}{% endif %}
        {% if form.delete %}{{ form.delete }}{% endif %}
    </div>
{% endblock inside_form %}
