{% extends "pluggable/list.html" %}


{%- from "macros.html" import render_date -%}
{%- from "macros.html" import render_form_simple2 -%}
{%- from "macros.html" import render_number -%}
{%- from "macros.html" import render_pagination -%}


{% block head %}
{{ super() }}
<style>
#performance-contracts-list {
    max-width: 500px;
}
</style>
{% endblock head %}


{%- block main -%}
<article id="performance-contracts-list">
    <h1>Performance Contracts</h1>
    <p>Performance contracts describe the date range for which performance tiers apply.</p>
    <h4>New Contract</h4>
    <form action="{{ url_for('admin.create_contract') }}" method="POST">
        {{ render_form_simple2(new_contract_form) }}
    </form>
    <hr>
    {% if pagination.items %}
    <table class="full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th># Tiers</th>
            </tr>
        </thead>
        <tbody>{% for contract in pagination.items %}
            <tr data-href="{{ url_for('admin.edit_contract', id=contract.id) }}">
                <td class="data">{{ contract.name }}</td>
                <td class="data date">{{ render_date(contract.date_range_start) }}</td>
                <td class="data date">{{ render_date(contract.date_range_end) }}</td>
                <td class="data number">{{ render_number(contract.tiers|length) }}</td>
            </tr>{% endfor %}
        </tbody>
    </table>{% else %}
    <p>No performance contracts</p>{% endif %}
    {{ render_pagination(pagination) }}
</article>
{%- endblock -%}
