{% extends "base.html" %}


{% from "macros.html" import original_render_delays %}
{% from "macros.html" import render_delays %}
{% from "macros.html" import render_pagination %}


{% macro render_link(flight) %}
<a href="{{ url_for('report.view_report', id=flight.report.id) }}">{{ flight.flight_number or flight.tail_number }}</a>
{% endmacro %}


{% block header %}
<h1>Interesting Flights for delay codes</h1>
{% endblock %}


{% block content %}
<table>
    <thead>
        <tr>
            <th rowspan="2">Flight</th>
            <th colspan="4">Orig.</th>
            <th colspan="4">Dest.</th>
        </tr>
        <tr>
            {# origin #}
            <th>Show?</th>
            <th>New</th>
            <th>Original</th>
            <th>Raw</th>
            {# destination #}
            <th>Show?</th>
            <th>New</th>
            <th>Original</th>
            <th>Raw</th>
        </tr>
    </thead>
    <tbody>{% for flight in interesting_flights.items %}
        <tr>
            {# origin #}
            <td class="data">{{ render_link(flight) }}</td>
            <td class="data">{{ flight.show_origin_delays() }}</td>
            <td class="data">{{ render_delays(flight.origin_delays) }}</td>
            <td class="data">{{ original_render_delays(flight.origin_delays) }}</td>
            <td class="data">{{ flight.origin_delays }}</td>
            {# destination #}
            <td class="data">{{ flight.show_destination_delays() }}</td>
            <td class="data">{{ render_delays(flight.destination_delays) }}</td>
            <td class="data">{{ original_render_delays(flight.destination_delays) }}</td>
            <td class="data">{{ flight.destination_delays }}</td>
        </tr>{% endfor %}
    </tbody>
</table>
{% endblock content %}


{% block footer %}
{{ render_pagination(interesting_flights, request.endpoint) }}
{% endblock footer %}
