{% extends "base.html" %}


{% from "macros.html" import original_render_delays %}
{% from "macros.html" import render_delays %}
{% from "macros.html" import render_pagination %}


{% macro render_link(flight) %}
<a href="{{ url_for('report.view_report', id=flight.report.id) }}">{{ flight.flight_number or flight.tail_number }}</a>
{% endmacro %}


{% block content %}
<table>
    <thead>
        <tr>
            <th rowspan="2">Flight</th>
            <th colspan="3">Orig.</th>
            <th colspan="3">Dest.</th>
        </tr>
        <tr>{% for _ in range(2) %}
            <th>New</th>
            <th>Original</th>
            <th>Raw</th>{% endfor %}
        </tr>
    </thead>
    <tbody>{% for flight in interesting_flights.items %}
        <tr>
            <td>{{ render_link(flight) }}</td>
            {% for field in [flight.origin_delays, flight.destination_delays] %}
                <td>{{ render_delays(field) }}</td>
                <td>{{ original_render_delays(field) }}</td>
                <td>{{ field }}</td>
            {% endfor %}
        </tr>{% endfor %}
    </tbody>
</table>
{{ render_pagination(interesting_flights, request.endpoint) }}
{% endblock content %}
