{% extends "base.html" %}
{% from "macros.html" import integer %}
{% from "macros.html" import string %}
{% from "macros.html" import time %}
{% from "macros.html" import yes %}

{%- from "macros.html" import time -%}

{%- block main -%}
<article>{% set backurl = url_for(request.endpoint, **request.view_args) %}
    <h3 class="nobr">{{ title }}</h3>
    <h3>Schedule</h3>
    <p>{{ scheduled_report.name }}</p>
    {% for (flight_type, bound), scheduled_flights in scheduled_report.grouped_flights() %}
    <div{% if not scheduled_flights %} class="noprint"{% endif %}>
        <h3>{{ flight_type.name }}&nbsp;{{ bound.altname }}</h3>
        <table class="expand">
            <thead>
                <tr>{% set ncols = 6 %}
                    <th></th>
                    <th>Operation</th>
                    <th>Flight</th>
                    <th>Orig</th>
                    <th>ETD</th>
                    <th>Dest</th>
                    <th>ETA</th>
                </tr>
            </thead>
            {# XXX: left off here grouping the scheduled flights #}
            <tbody>{% if scheduled_flights %}{% for scheduled_flight in scheduled_flights %}
                <tr tabindex=0>
                    <td class="data"><a href="{{ url_for('scheduled_flight.edit', id=scheduled_flight.id, backurl=backurl) }}">edit</a></td>
                    <td>{{ scheduled_flight.operation.name }}</td>
                    <td class="data">{{ string(scheduled_flight.flight_number) }}</td>
                    {#- orgin -#}
                    <td class="data">{{ string(scheduled_flight.origin_station) }}</td>
                    <td class="data">{{ time(scheduled_flight.origin_departure_estimated_time) }}</td>
                    {#- destination -#}
                    <td class="data">{{ string(scheduled_flight.destination_station) }}</td>
                    <td class="data">{{ time(scheduled_flight.destination_arrival_estimated_time) }}</td>
                </tr>{% endfor %}{% else %}
                <tr>
                    <td colspan="{{ ncols }}"><h4>None</h4></td>
                </tr>
                {% endif %}
            </tbody>
            <tfoot class="noprint">
                <tr data-href="{{ url_for('scheduled_flight.create', scheduled_report_id=scheduled_report.id, flight_type_id=flight_type.id, backurl=backurl) }}">
                    <td class="data" colspan="{{ ncols }}"><h4>Add Scheduled Flight</h4></td>
                </tr>
            </tfoot>
        </table>
    </div>{% endfor %}
</article>{% endblock main -%}
