{% from "macros.html" import yes %}


{% set thisurl = url_for(request.endpoint, **request.view_args) %}


{% macro render_delays_table(delays) %}
{% set instance_endpoint = kwargs.get('instance_endpoint') %}
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Controllable?</th>
            <th>Always Lane?</th>
            <th>Always Show?</th>
        </tr>
    </thead>
    <tbody>{% if not delays %}
        <tr>
            <td colspan="4">No delay codes</td>
        </tr>{% else %}{% for delay in delays %}
        <tr{% if instance_endpoint %} data-href="{{ url_for(instance_endpoint, id=delay.id, backurl=thisurl) }}"{% endif %}>
            <td class="data">{{ delay.code }}</td>
            <td class="data">{{ yes(delay.is_controllable) }}</td>
            <td class="data">{{ yes(delay.is_cancelled_lane) }}</td>
            <td class="data">{{ yes(delay.is_always_show) }}</td>
        </tr>{% endfor %}
    {% endif %}</tbody>
</table>
{% endmacro %}
